@font-face {
    font-family: 'The Sims Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: url('https://raw.githubusercontent.com/RampageRobot/mischostedfiles/main/Loucos%20Lyne%20-%20thesimssansbold.woff') format('woff');
}